@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  @apply bg-white text-black;
}

.dark body {
  @apply bg-dark-900 text-dark-200;
}

.dark * {
  @apply bg-dark-900;
}

#root {
  min-height: 100vh;
  width: 100%;
}
